.feedback {
  position: relative;

  .no-wrapper {
    padding: 39px 0 46px 0;
    @media (max-width: 420px) {
      padding: 10px 0 20px 0;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 1051px;
      height: 912px;
      background-repeat: no-repeat;
      background-image: url("../img/feedback-right.png");
      @media (max-width: 420px) {
        content: none;
      }
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: -1;
      width: 978px;
      height: 755px;
      background-repeat: no-repeat;
      background-image: url("../img/feedback-left.png");
      @media (max-width: 420px) {
        content: none;
      }
    }
  }
}
.feedback-form {
  max-width: 824px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 60px 136px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);

  @media (max-width:420px) {
    padding: 0;
    box-shadow: none;
  }
  &__title {
    font-weight: 700;
  }

  &__text {
    padding: 40px 0;
    font-size: 24px;
    line-height: 1.4em;
    @media (max-width: 1024px) {
      padding: 20px;
    }
    @media (max-width:420px) {
      padding: 20px;

      font-size: 16px;
    }
  }

  &__wrapper {
    max-width: 331px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
      position: relative;
      box-sizing: border-box;
      width: 100% !important;
      padding: 16px 20px;

      border: 1px solid black;
      border-radius: 4px;
      font-size: 18px;
      line-height: 1.4em;
      outline: none;

      &::placeholder {
        color: #000;
      }

      @media (max-width:420px) {
        font-size: 16px;
      }
    }

    & .inputbox {
      margin: 17.5px 0;
      width: 331px;

      @media (max-width:420px) {
        margin: 10px 0;
      }
      &:nth-child(2){
        margin: 0 0 17.5px 0;
        @media (max-width:420px) {
          margin: 0 0 10px 0;
        }
      }

      &:nth-last-child(3) {
        margin-bottom: 35px !important;
        @media (max-width:420px) {
          margin-bottom: 15px !important;
        }
      }

      &__error {
        @media (max-width:420px) {
          margin-top: -0px;
          font-size: 14px;
        }
      }
    }
  }

  &__name {
  }

  &__phone {
  }

  &__mail {
  }

  &__message {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 4px;
    resize: none;
    font-family: Inter;
    font-size: 18px;
    line-height: 1.4em;
    outline: none;

    @media (max-width: 1024px) {
      height: 100px;
    }
  }

  &__submit {
    margin: 25px 0 5px 0 !important;
    border: none !important;
  }

  &__agreement {
    font-size: 12px;
    line-height: 1.4em;
    text-align: left;

    &_bold {
      font-family: Inter-bold;
    }

    &_link {
    }
  }
}
